* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #3c3d37;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}

.buttons {
  padding-right: 40px;
  display: flex;
  gap: 20px;
}

.buttons > button {
  padding: 10px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.title {
  padding-left: 40px;
  color: #ecdfcc;
}

.scoreboard {
  display: flex;
  font-size: 48px;
  color: #ecdfcc;
}

.scoreboard > p {
  margin: 0;
  padding: 10px;
}

.content {
  background-color: #1e201e;
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  flex: 1;
  gap: 5%;
}

.player {
  background-color: #697565;
  gap: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: #ecdfcc;
}

.player > img {
  border-radius: 20%;
  background-color: #ecdfcc;
}

.first {
  margin-right: auto;
}

.second {
  margin-left: auto;
}

.board {
  background-color: #3c3d37;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  border-radius: 10px;
  gap: 30px;
  width: 35%;
  align-self: center;
  margin: 20px;
}

.tile {
  background-color: #ecdfcc;
  font-weight: bold;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.tile > img {
  width: 80%;
  object-fit: fill;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #3c3d37;
  margin-top: auto;
  color: #ecdfcc;
}
