body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    margin: 0;
}

div.header {
    display: flex;
    height: 5em;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    padding-left: 5em;
    padding-right: 5em;
}

#header_title {
    font-weight: bold;
    font-size: 4em;
}