body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

div.leftside {
    position: relative;
    height: 100vh;
    width: 30vw;
}

div.iconbg {
    position: absolute;
    display: flex;
    align-items: center; /* Center vertically */
    min-width: 100%;
    min-height: 20%;
    top: 50%;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 4.2rem;
    font-family: roboto;
    text-align: center;
    justify-content: space-evenly;
}

div.iconbg * {
    position: relative;
    opacity: 1;
    padding: 10px;
}

div.leftside img#cat {
    height: 100vh;
    width: 30vw;
    vertical-align: bottom;
    z-index: -10;
}

div.rightside {
    height: 100vh;
    width: 70vw;
}

div.rightside .top {
    background: linear-gradient(rgb(70, 140, 235), rgb(70, 190, 240));
    width: 100%;
    height: 35%;
}

div.rightside h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

div.rightside .middle {
    width: 100%;
    height: 35%;
    background: rgb(70, 190, 240);
}

.application_form {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    gap: 1.5em;
    padding: 5em;
    padding-top: 1em;
}

.application_form > button,
.application_form input {
    border-radius: 10px;
    padding: 0.4em;
    font-size: 20px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: blue;
}

.application_form > button {
    background-color: darkblue;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.application_form .login {
    font-size: 20px;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

span#login {
    color: darkblue;
    font-weight: bold;
}

div.inputblock {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

div.rightside .bottom {
    background: linear-gradient(360deg, rgb(70, 140, 235), rgb(70, 190, 240));
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
}

div.rightside .bottom > span {
    padding: 1em;
}