* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    background-color: #38bdf8;
}

.header {
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    position: sticky;
    top: 0px;
}

.header > div {
    display: flex;
    gap: 30px;
}

.header > div > img {
    width: 5em;
    filter: invert(1);
}

.title {
    font-size: 48px;
}

.addbook {
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
}

.main {
    background-color: #bae6fd;
    flex: 1;
    padding: 50px;
    padding-left: 300px;
    padding-right: 300px;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 5px black;
    border-radius: 10%;
    background-color: #dbeafe;
}

.book > img {
    width: 200px;
}

.book > span {
    font-size: 40px;
    font-weight: bold;
}

.book > button {
    border: solid;
    padding: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
}